DATABASE_URL="postgresql://<user>:<password>@<host>-pooler.<region>.aws.neon.tech/<db>?sslmode=require&pgbouncer=true"
DIRECT_URL="postgresql://<user>:<password>@<host>.<region>.aws.neon.tech/<db>?sslmode=require"
JWT_SECRET="replace-with-output-from-openssl-rand-hex-32"
PORT=4000
VITE_API_URL="/api/v1"
